.weather__container {
    position: absolute;
    width: 24rem;
    height: 15rem;
    margin-top: 15rem;
    background-image: url('./src/svg/Rectangle13.svg');
    background-size: contain;
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
}